<div id="footer">
    <div class="sub-footer">
        <div class="row">
            <div class="medium-12 columns">
                <p class="footer-title">About</p>
                <p>The Western Pennsylvania Regional Data Center (RDC) at the University of Pittsburgh’s Center for Social and Urban Research (UCSUR) is being created to support regional initiatives through the provision of timely and useful information and related services. The RDC serves as Allegheny County and the City of Pittsburgh’s open data portal, and will begin to host datasets from these and other public sector agencies, academic institutions, and non-profit organizations.</p>
            </div>
        </div>
    </div>

    <div class="legal">
        <div class="row">
            <div class="small-12 columns">
                <p class="clearfix">
                <span class="left">
                    <a href="http://www.wprdc.org/about/">About</a> &nbsp; | &nbsp;
                    <a href="http://www.wprdc.org/contact/">Contact</a> &nbsp; | &nbsp;
                    <a href="http://www.wprdc.org/terms-of-use/">Terms</a> &nbsp; | &nbsp;
                    <a href="http://www.wprdc.org/privacy-policy/">Privacy</a>
                </span>
                    <span class="right">Powered by <a href="http://ucsur.pitt.edu" target="_blank">UCSUR</a>.</span>
                </p>
                <p>&copy; {{ h.wprdc_get_year() }}. &nbsp; All rights reserved.</p>
            </div>
        </div>
    </div>
</div>