{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    ] -%}

<br>
<section class="additional-info">
  <h2><i class="icon-th-list"></i> {{ _('Metadata Information') }}</h2>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Metadata Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
    {% block package_custom_info %}
        {% if pkg_dict.id %}
            <tr>
                <th scope="row" class="dataset-label" property="foaf:wtf">{{ _('ID') }}</th>
                <td class="dataset-details">{{ pkg_dict.id }}</td>
            </tr>
        {% endif %}
        {% if pkg_dict.title %}
            <tr>
                <th scope="row" class="dataset-label" property="foaf:wtf">{{ _('Title') }}</th>
                <td class="dataset-details">{{ pkg_dict.title }}</td>
            </tr>
        {% endif %}
        {% if pkg_dict.num_resources %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Number of Resources") }}</th>
            <td class="dataset-details">{{ pkg_dict.num_resources}}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_created %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Created Timestamp") }}</th>
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_created, with_hours=True) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.metadata_modified %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Modified Timestamp") }}</th>
            <td class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_modified, with_hours=True) }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.license_title %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("License") }}</th>
            <td class="dataset-details">{{ pkg_dict.license_title }}</td>
          </tr>
        {% endif %}
        {% if pkg_dict.organization %}
        {% set url = h.url_for(controller='organization', action='read', id=pkg_dict.organization.name) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Organization") }}</th>
            <td class="dataset-details">{{ h.link_to(pkg_dict.organization.title, url) }}</td>
          </tr>
        {% endif %}
    {% endblock %}

    {% block package_additional_info %}
      {%- for field in schema.dataset_fields -%}
        {%- if field.field_name not in exclude_fields
            and field.display_snippet is not none -%}
          {%- snippet 'scheming/snippets/display_field.html',
              field=field, data=pkg_dict, schema=schema -%}
        {%- endif -%}
      {%- endfor -%}
      {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("State") }}</th>
          <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
        </tr>
      {% endif %}
    {% endblock %}
    </tbody>
  </table>
</section>
