{% set sel = data[field.field_name] or '' %}
{% set org = data['organization'] or '' %}

<div class="control-group" >
  <label class="control-label" for="field-{{ field.field_name }}">
      {{ h.scheming_language_text(field.label) }}
  </label>
  <div class="controls">
    <select id="field-{{ field.field_name }}" name="{{ field.field_name }}" data-selected="{{ sel }}" data-choices="{{ h.dump_json(field.choices) }}" data-module="department-generator">
      {% for choice in field.choices[org.title] %}
        <option value="{{choice}}" {{'selected' if sel==choice else ''}}>{{choice}}</option>
      {% endfor %}
    </select>
    <p class="metadata-help-info">
      <i class="icon-info-sign"></i>
      Name of the data source department or division (if applicable). If department has a nested structure of divisions, offices, or bureaus, list the smallest applicable division first, separated by semicolons (not commas). Use title capitalization, and avoid abbreviations.
    </p>
  </div>
</div>

{% block package_metadata_fields_visibility %}
  <div class="control-group">
    <label for="field-private" class="control-label">
      <span title="This field is required" class="control-required">*</span>
      {{ _('Access Level') }}
    </label>
    <div class="controls">
      <select id="field-private" name="private">
        {% for option in [('True', _('Private')), ('False', _('Public'))] %}
        <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
        {% endfor %}
      </select>
      <p class="metadata-help-info">
        <i class="icon-info-sign"></i>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto, commodi dignissimos error fugiat ipsa iure magni modi nobis, odio omnis quas recusandae sunt. Accusamus magnam obcaecati odit quod voluptatibus!
      </p>
    </div>
  </div>
{% endblock %}