{% ckan_extends %}

{% block modal %}
<article id="terms" class="module reveal" data-reveal >
    <div class="module-content">
        <h1>Data Use Agreement Terms</h1>
        <hr>
        <p>The Western Pennsylvania Regional Data Center (WPRDC) is a project led by the University Center of Social and Urban Research (UCSUR) at the University of Pittsburgh ("University") in collaboration with City of Pittsburgh and The County of Allegheny in Pennsylvania. The WPRDC and the WPRDC Project is supported by a grant from the Richard King Mellon Foundation.</p>
        <p>This Data Use Agreement covers the terms and conditions that you must agree to before you access or use the Data on deposit with the WPRDC. By using the data available on the WPRDC website portal, you agree to the terms and conditions of your access to the WPRDC and your use of the Data on deposit with the WPRDC.</p>
        <p>Intending to be legally bound, you agree to the following:</p>
        <ol>
            <li>
                <span class="underline">Effective Date:</span> The effective date of the Agreement is the date of your signature or click through acceptance of these terms, and the terms shall continue to bind you with every subsequent attempt to access or use Data from the WPRDC.
            </li>
            <br>
            <li>
                <span class="underline">Definitions:</span>
                <p>"Data" for purposes of this Agreement, shall mean all information of varying formats which has been deposited with the WPRDC by The City, The County, and other third parties, to make such information available for public access.  Data may cover, but is not limited to topics including property ownership, budgets, transportation, education, public safety, public services, and geographic information. Data may consist of, but is not limited to administrative records created by government or other organizations, statistical information designed to improve the function of government and organizations, and information created about government and organizations.  The Data on deposit with the WPRDC is not intended to and should not contain Non-Public Information, as defined below.</p>
                <span>"Non-Public Information" for the purposes of this Agreement shall mean information that may not be disclosed to the public for the following reasons:</span>
                <ol type="a">
                    <li>The information is exempt from disclosure or the information is prohibited from being disclosed under State and Federal Laws and regulations including the Pennsylvania Right to Know Act,  65 P.S &sect; 67.101 et seq., the Criminal History Record Information Act, 18 Pa.C.S. &sect;&sect; 9101-9183, the Health Insurance Portability and Accountability Act (HIPAA), and other applicable privacy laws;</li>
                    <li>The information is covered by a contractual non-disclosure obligation;</li>
                    <li>The information is covered by confidentiality and fiduciary obligations; or</li>
                    <li>The information is private, proprietary or privileged.</li>
                </ol>
                <p>"User" shall mean any individual who seeks access to or uses WPRDC Data.</p>
                <p>"Third Party Links" shall mean any website links to other data and data resources provided by the WPRDC portal/website.</p>
            </li>
            <li><span class="underline">Grant of Access and Use of WPRDC Data:</span> Subject to the compliance with the User Terms and Conditions set forth below, UCSUR hereby grants User permission to access and use the Data from the WPRDC pursuant to the license terms, restrictions, or designations placed upon the Data by the Data owner and depositor.  This grant shall not include permission to use Non-Public Information which is inadvertently deposited in the WPRDC.</li>
            <br>
            <li>
                <span class="underline">User Terms and Conditions:</span> The User is subject to the following terms and conditions with respect to the User's access and use of WPRDC Data.
                <ol type="a">
                    <li>User shall accept complete responsibility for its access to and use of the Data derived from the WPRDC, or any derivatives User makes of the Data.</li>
                    <li>User shall abide by the licensing terms if provided by the data owner and WPRDC as publisher.</li>
                    <li>User shall abide by the terms and conditions of any Third Party Links when accessing data from the WPRDC through such Third Party Links.</li>
                    <li>User agrees to immediately notify the WPRDC Project Manager, Robert Gradeck, at 412-624-9177 or via email at <a href="mailto:rmg44@pitt.edu">rmg44@pitt.edu</a> when Non-Public Information is suspected or discovered through User access to the WPRDC.  User agrees to refrain from use of any Non-Public Information inadvertently on deposit and accessible from the WPRDC.  </li>
                    <li>User understands that UCSUR may, on its own and without notice, remove Data and Third Party Data Links from the WPRDC.</li>
                    <li>User understands and agrees that there is no obligation for UCSUR to update or provide customized Data under this Agreement.</li>
                    <li>User shall comply with all Federal, State, and local laws and regulations governing regarding use of the Data and Third Party Data Links.</li>
                    <li>User shall provide feedback, questions, concerns, or comments regarding access or use of Data on deposit with the WPRDC by contacting the WPRDC Project Manager, Robert Gradeck, at 412-624-9177 or <a href="mailto:rmg44@pitt.edu">rmg44@pitt.edu</a>.</li>
                </ol>
            </li>
            <li><span class="underline">Ownership of Data:</span> Ownership of the Data in the WPRDC and through Third Party Links shall remain and belong to the person or party that created it and/or deposited it in the WPRDC.  Nothing in this Agreement shall be construed as a transfer or assignment of ownership of any data, copyrights, or other intellectual property.</li>
            <br>
            <li>
                <span class="underline">Disclaimers/No Warranties/As Is and As Available:</span>
                <p><strong>DISCLAIMER. THE UNIVERSITY, THE CITY, AND THE COUNTY OF ALLEGHENY HEREBY DISCLAIM ALL IMPLIED AND EXPRESS WARRANTIES OF ANY KIND WITH REGARD TO DATA MADE AVAILABLE IN THE WPRDC AND ACCESSED BY USER THROUGH THE WPRDC, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY AND OF FITNESS FOR ANY PARTICULAR PURPOSE SPECIFIC PURPOSE.  THE UNIVERSITY DOES NOT WARRANT THE COMPLETENESS OR  ACCURACY OF THE DATA MADE AVAILABLE THROUGH THE WPRDC. USER HEREBY ACKNOWLEDGES AND ACCEPTS THE ABOVE DISCLAIMERS AND USES ALL OF THE DATA IN THE WPRDC AT ITS OWN RISK AND ON AN "AS IS" AND "AS AVAILABLE" BASIS.</strong></p>
            </li>

            <li><span class="underline">Indemnification:</span>  User agrees to indemnify, release, and hold harmless the University of Pittsburgh, UCSUR, The City of Pittsburgh, and The County of Allegheny, to include its elected officials, officers, appointees, employees and agents, from any and all liability for claims arising out of my access to and/or use of Data made available through the WPRDC.</li>
            <br>
            <li><span class="underline">Assignability:</span> User agrees that this Agreement may not be assigned by User.  This Agreement may be assigned at any time by University without prior notice to Licensee.</li>
            <br>
            <li><span class="underline">Governing Law, Jurisdiction, and Venue:</span> User agrees that this Agreement shall be construed and enforced according to the laws of the Commonwealth of Pennsylvania and the sole jurisdiction and venue for the resolution of any dispute arising from or relating to the Agreement shall be the state and federal courts located within the County of Allegheny, Pennsylvania.</li>
        </ol>
        <p>Through clicking the button below, the User represents that he/she is over the age of 18 and  understands and agrees to the terms and conditions set forth above.</p>
        <form action="" method="POST">
            <input type="hidden" name="came_from" value="{{request.params.get('came_from', h.url('/', locale='default', qualified=true))}}" />
            <input type="submit" class="btn" value="I Agree to the Terms of Use" />
        </form>
    </div>
</article>
{%- endblock -%}